.navbar{

    background-color: white;
    position:sticky;
    top:0;
    z-index: 50;
    display:flex;
    align-items: center;
    justify-content: space-between;
    height:70px;
    width:auto;
    padding:12px 40px;
    /* box-shadow: 0 1px 3px rgba(15, 23, 42, 0.08); */
}
.option{
    display:flex;
    align-items: center;
    gap:1.5rem;
    justify-content: center;
    
}

.text{
    text-decoration:none;
    color:#434a5a;
    font-size:18px;
    display:flex;
    align-items:center;
    gap:10px;
    font-weight:500;
}

.text:hover{
  background-color: #eff6ff;
  border-radius: 10px;
  /* height:205px; */
  width:auto;
  padding:5px;
}

.connexa{
    font-size:28px;
    font-weight:bold;
}
